.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: var(--token-ZfY0X3O7cNRywO);
  position: relative;
  min-width: 0;
  padding: 0px;
}
.freeBox__l3VNv {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.columns__tbWK {
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  display: none;
  padding: 8px;
}
.columns__tbWK > :nth-child(3n + 1) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns__tbWK > :nth-child(3n + 2) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns__tbWK > :nth-child(3n + 3) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.column__zA5XB {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.freeBox___1J3Mz {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox___7AsfK {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.svg__iosTv {
  object-fit: cover;
  max-width: 100%;
  width: 35px;
  height: 35px;
  margin-right: 15px;
  flex-shrink: 0;
}
.link___1MLNx {
  position: relative;
  font-size: 20px;
  padding-bottom: 0px;
}
.link__rqfdC {
  position: relative;
}
.freeBox__dz3Yo {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.column__thcDw {
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  display: none;
  padding: 8px;
}
.freeBox__rqrT3 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.img__kPzwa {
  position: relative;
  object-fit: fill;
  max-width: 100%;
  width: 130px;
}
.img__kPzwa > picture > img {
  object-fit: fill;
}
.img__kPzwa > :global(.__wab_img-spacer) > img {
  object-fit: fill;
}
.column__t9Ku3 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.freeBox___75PA9 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.svg__adGwA {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 35px;
  height: 35px;
  color: var(--token-8rJLE1sVxnkwKC);
  flex-shrink: 0;
}
.columns__p7J9E {
  display: flex;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 1;
  min-width: 0;
  padding: 0px;
}
.columns__p7J9E > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__p7J9E > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.column__hZuo2 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  background: var(--token-9J3fb9QV2);
  min-width: 0;
  padding: 0px;
}
.freeBox__mgmXo {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__mgmXo > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__mgmXo > :global(.__wab_flex-container) > *,
.freeBox__mgmXo > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mgmXo > :global(.__wab_flex-container) > picture > img,
.freeBox__mgmXo
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.freeBox__mgmXo {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.link__fhSin {
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 10px 16px;
  border: 1px solid transparent;
}
.link__fhSin > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__fhSin > :global(.__wab_flex-container) > *,
.link__fhSin > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__fhSin > :global(.__wab_flex-container) > picture > img,
.link__fhSin
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.link__fhSin {
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 10px 16px;
  border: 1px solid transparent;
}
.svg___4L84W {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__iAsd3 {
  color: var(--token-8rJLE1sVxnkwKC);
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
}
.svg__hGvMq {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.link__oMuIg {
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 10px 16px;
  border: 1px solid transparent;
}
.link__oMuIg > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__oMuIg > :global(.__wab_flex-container) > *,
.link__oMuIg > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__oMuIg > :global(.__wab_flex-container) > picture > img,
.link__oMuIg
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.link__oMuIg {
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 10px 16px;
  border: 1px solid transparent;
}
.svg__e3KsV {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text___88Bph {
  color: var(--token-8rJLE1sVxnkwKC);
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}
.svg___17NRf {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.column__lfOmq {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 0px;
}
.link__rf0R {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-9J3fb9QV2);
  min-width: 0;
  padding: 8px;
}
.img__lgi5D {
  object-fit: cover;
  width: 130px;
  height: 100%;
  position: relative;
  filter: none;
  align-self: flex-start;
  flex-shrink: 0;
  min-height: 0;
}
.img__lgi5D > picture > img {
  object-fit: cover;
}
.img__lgi5D > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
