.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  padding-top: 170px;
  background: url("./images/pngtreespaceOfSpaceWithThe5440388Png.png") top 50% left 50% / cover repeat;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    1fr minmax(0, var(--plsmc-wide-chunk)) var(--plsmc-viewport-gap)
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    var(--plsmc-viewport-gap) minmax(0, var(--plsmc-wide-chunk)) 1fr;
}
:where(.root > *) {
  grid-column: 4;
}
.freeBox__yVWzT {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 764px;
  max-width: 100%;
  justify-self: flex-start;
  background: linear-gradient(
    0deg,
    var(--token-8rJLE1sVxnkwKC) 0%,
    #56c4fff7 100%
  );
  box-shadow: 0px 4px 16px 0px #c7c5c533;
  opacity: 0.75;
  margin-bottom: 0px;
  min-width: 0;
  border-radius: 35px;
  padding: 8px 8px 188px;
}
.text {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  box-shadow: none;
  min-width: 0;
}
.h2 {
  font-family: "Roboto Mono";
  font-size: 40px;
  text-align: center;
  margin-bottom: 44px;
  color: var(--token-8rJLE1sVxnkwKC);
  box-shadow: none;
}
.link {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.img {
  position: sticky;
  object-fit: cover;
  max-width: 100%;
  height: 147px;
  left: 8px;
  top: 8px;
  z-index: 1;
  margin-bottom: 38px;
  align-self: center;
}
.img > picture > img {
  object-fit: cover;
}
.img > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__aO228 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 176px;
  max-width: 100%;
  background: #1c0a51;
  margin-top: 122px;
  grid-column-start: 1;
  grid-column-end: -1;
  padding: 0px 8px 8px;
}
.freeBox__voGqu {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  min-width: 0;
  padding: 8px;
}
.footer:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  transform: translateX(0px) translateY(0px) translateZ(0px);
  transition-property: all;
  transition-duration: 1s;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
}
