.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-YL69GQNiGRIgOh);
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    1fr minmax(0, var(--plsmc-wide-chunk)) var(--plsmc-viewport-gap)
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    var(--plsmc-viewport-gap) minmax(0, var(--plsmc-wide-chunk)) 1fr;
}
:where(.root > *) {
  grid-column: 4;
}
.freeBox___35Ao5 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-G8npK1tqD5l5vt);
  grid-column-start: 1;
  grid-column-end: -1;
  padding: 8px;
}
.header2:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox___2KWP {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-phlI6ETTK_UEUu);
  grid-column-start: 1;
  grid-column-end: -1;
  padding: 8px;
}
.rigaContatti__wIUmp:global(.__wab_instance) {
  position: relative;
  height: 103px;
  flex-shrink: 0;
}
.freeBox___8GIet {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-phlI6ETTK_UEUu);
  grid-column-start: 1;
  grid-column-end: -1;
  padding: 8px;
}
.rigaContatti___2Xkea:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__jClRn {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-start: 1;
  grid-column-end: -1;
  padding: 8px;
}
.footer:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
